h1{
  text-align: center;
}

.content{
  max-width: 600px;
  margin: 0px auto;
}

.collapsible-body *:first-child{
  margin-top: 0 !important;	
}

.collapsible-body *:last-child{
  margin-bottom: 0 !important;	
}